* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'sans-serif';
}

:root {
    --BG-COLOR: #fbfbfb;
    --ACCENT-COLOR: #0891b2;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    /* multiple gradients as to not have blurry line */
    background:
        linear-gradient(165deg, var(--ACCENT-COLOR) 250px, var(--BG-COLOR) 251px),
        linear-gradient(180deg, var(--BG-COLOR) 250px, var(--BG-COLOR) 251px)
    ;
    background-size:
        100% 100vh,
        100% 100%
    ;
    background-repeat: no-repeat;
}

/* HEADER SECTION (about me) --------------------------------------------------*/

header {
    padding: 15px;
    max-width: 700px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-container {
    position: relative;
    margin: 15px;
}

.img-container  picture  img {
    max-width: 300px;
    display: block;
    /* shape-outside: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%); */
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--BG-COLOR);
}
.about-me h1,
.about-me p {
    margin-bottom: 10px;
}

.name {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--BG-COLOR);

    position: absolute;

    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socials {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.socials a img {
    width: 32px;
}

/* MAIN SECTION (my work) --------------------------------------------------*/

main {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.projects {
    width: 100%;
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    justify-items: center;
    gap: 50px;
}

.card {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card .thumbnail {
    height: 250px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../images/thumbnail_placeholder_690w.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.card .project-info {
    width: 100%;
    padding: 15px;

    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    box-shadow: 0px 0px 29px -10px rgba(0,0,0,0.75);
}

.project-info .project-title {
    font-size: 1.1rem;
    font-weight: bold;
}
.project-info .project-links {
    display: flex;
}
.project-info .project-links img {
    width: 30px;
    height: 30px;
}
.project-info .project-desc {
    margin: 10px 0 10px 0;
}

/* FOOTER SECTION (contact me) --------------------------------------------------*/

footer {
    width: 100%;

    display: flex;
    justify-content: center;

    color: white;
    background-color: var(--ACCENT-COLOR);
}
footer .container {
    max-width: 1500px;

    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    gap: 20px;
    font-size: calc(1rem + 0.5vw);
}

.contact-info {
    padding: 20px 50px 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-info h2 {
    display: flex;
    justify-content: center;
    font-size: calc(1.2rem + 0.5vw);
}
.contact-info .socials {
    filter: invert(100);
}

.phone {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.phone::before {
    width: 30px;
    height: 30px;

    content: url('../icons/phone.svg');
    filter: invert(100);
}

footer .container picture img {
    display: flex;
    width: 100%;
    max-width: 500px;
}

